.quiz-parent {
   width: 50vw;
   background-color: rgba(0, 128, 128, 0.479);
   height: 50vh;
   color: black;
   opacity: 99%;
   border-radius: 30px;
}

.quiz-body {
   min-height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.singleOption {
   width: 46%;
   height: 50px;
   padding: 15px 20px;
   margin: 10px;
   box-shadow: 0 0 2px black;
}

.select {
   background-color: rgb(7, 207, 0);
   color: white;
   box-shadow: 0 0 1px black;
}

.wrong {
   background-color: rgb(233, 0, 0);
   color: white;
   box-shadow: 0 0 1px black;
}
