.quiz-parent {
   width: 50vw;
   background-color: #66cccc;
   height: 50vh;
   color: black;

   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.quiz-body {
   min-height: 94vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.quiz-name {
   margin-bottom: 2rem;
   color: white;
}

.singleOption {
   width: 46%;
   height: 50px;
   padding: 15px 20px;
   margin: 10px;
   box-shadow: 0 0 2px black;
}

.select {
   background-color: #065f46;
   color: white;
   box-shadow: 0 0 1px black;
}

.wrong {
   background-color: #dc2626;
   color: white;
   box-shadow: 0 0 1px black;
}

* {
   margin: 0;
   padding: 0;
}

.quiz-body {
   background-color: #18181b;
}

.options-div {
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 3rem;
}

.options-div button {
   width: 10vw;
   cursor: pointer;
   border: none;
   border-radius: 4px;
}

.score {
   margin-top: 2rem;
}

.material-buttons {
   display: flex;
   width: 40vw;
   justify-content: space-around;
   margin-bottom: 3rem;
}

.question {
   color: black;
}
