.labels {
  color: teal !important;
}

* {
  margin: 0;
  padding: 0;
}

/* div {
  background-color: #315cfd;
  color: white;
  min-height: 10vh;
  bottom: 0;
} */

.nav-div {
  display: flex;

  width: 100vw;
}
